<!DOCTYPE html>
<html>
<head>
    <title>WAWY - We Are With You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <div class="logo">WAWY ❤️</div>

        <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Career</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="/login">Login</a></li>
</ul>
    </nav>

    <section class="hero">

        <h1>We Are With You</h1>

        <p>
            Emotional Support, Motivation and Career Guidance
            whenever you need it.
        </p>

        <a href="/login">
    <button>Get Started</button>
</a>

    </section>

</body>
</html>