<!DOCTYPE html>
<html>
<head>
    <title>WAWY Support</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="hero">

    <h1>We Are Here For You ❤️</h1>

    <p>Tell us how you feel today.</p>

    <div class="mood-buttons">

        <a href="/happy">
            <button class="mood-btn">😊 Happy</button>
        </a>

        <a href="/sad">
            <button class="mood-btn">😔 Sad</button>
        </a>

        <a href="/stressed">
            <button class="mood-btn">😫 Stressed</button>
        </a>

        <a href="/lonely">
            <button class="mood-btn">🥺 Lonely</button>
        </a>

    </div>

</div>

</body>
</html>